In [5]:
#Question1

In [3]:
a=["Ankit",[1,2,3,4],1.25,('a','b','c','d')]

In [6]:
#Question2

In [14]:
var1=''   #The data type For this variable will be 'String'.

In [15]:
var2='[DS, ML, Python]'  # The data type for this variable will be 'String'.

In [12]:
var3=['DS','ML','Python']  #The data type for this variable will be 'List'.

In [16]:
var4=1  #The data type for this variable is 'Integer'.

In [17]:
#Question3

'/' (Division Operator): Is used to divide two number by another.It returns a foat quotiend
of the division operation.

In [22]:
#Example
a=5
b=2
c=a/b
print(c)  #Output 2.5

2.5

'%' (Modulus Operator): Is used to find the remainder of the division operation.It returns
the remainder as an Integer value.

In [23]:
#Example
x=5
y=2
z=x%y
print(z)  #Output 1

1

'//' (Floor Division Operator) : The floor division operator '//' is used to divide one number by another
and return the integer value of the quotient, rounded down to nearest integer (Floor value)

In [27]:
# Example 
a=26
b=9
c=a//b #Ouput 2
print(c)

2

In [28]:
# '**' (Exponentiation Operator): The exponentiation operator '**' is used to raise a number to a power.

In [29]:
#Example
a=2
b=3
c=a**b  #Output 8
print(c)

8

In [30]:
#Question 4

In [36]:
l=[1,True,3,1.34,"PW Skills",("Hello","World","Learning Python"),[1,2,3],"Data Science",10.3,10.4]

In [37]:
len(l)

10

In [48]:
for i in l:
    print(f"The element '{i}' is of type '{type(i)}'")

The element '1' is of type '<class 'int'>'
The element 'True' is of type '<class 'bool'>'
The element '3' is of type '<class 'int'>'
The element '1.34' is of type '<class 'float'>'
The element 'PW Skills' is of type '<class 'str'>'
The element '('Hello', 'World', 'Learning Python')' is of type '<class 'tuple'>'
The element '[1, 2, 3]' is of type '<class 'list'>'
The element 'Data Science' is of type '<class 'str'>'
The element '10.3' is of type '<class 'float'>'
The element '10.4' is of type '<class 'float'>'

In [1]:
#Question 5

In [15]:
a=100
b=5
count=0

while a%b==0:
    a/=b
    count+=1
    
if count==0:
    print(f"{a} is not divisible by {b}")
else:
    print(f"{a} is divisible by {b}  {count} times")

4.0 is divisible by 5  2 times

In [16]:
#Question 6

In [17]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [19]:
for i in l:
    if i%3==0:
        print(f"{i} is divisble by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisble by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisble by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisble by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisble by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisble by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisble by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisble by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisble by 3
25 is not divisible by 3

In [20]:
#Question7

Immutable data types : These data types are the ones whose value cannot be changed once it is created. In other words,
any operation on an immutable objects creates a new object rather than modifying the existing one .
Example of immutable data types in Python include int, float, bool, str, and tuple.

Mutable data types : These data types on the other hand , is one whose 
value can be changed after it is created. This mean that operations on a mutable 
object modify the object itself rather than creating a new one .Examples of mutable data types
in Pyhton include list, dict, and set.

#In simple terms those data types which allow us to change data at any index position 
they are mutable and those who doesn't allow they are immutable.

In [22]:
#Example of Immutable Data Type:
name="Ankit"
print(name) #Output Ankit

name[0]='B'  #Output Error
print(name)

Ankit

TypeError: 'str' object does not support item assignment

In [23]:
#As we can see it gives us this error thus we can say str is a immutable data type

In [24]:
# Example of Mutable Data Type:
l=[1,2,3,4,5]  #List 
print(l)  #output 1,2,3,4,5

l[0]=10  #Trying to modify the data

print(l)  #output 10,2,3,4,5

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [ ]:
#As we can see at zero index the list data got changed which shows list is a mutable data type.